.containerProjects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titleProjects{
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline rgb(57, 235, 235);
}
.photoGifApp{
    max-width: 300px;
    height: 220px;
}

.containerBoxGifApp{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.boxGifApp{
    border: 2px solid rgb(57, 235, 235);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
}

.boxGifAppNotAviable{
    border: 2px solid rgb(57, 235, 235);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.2s;
    cursor: not-allowed;
}

.boxGifApp, .boxGifAppNotAviable a {
    text-decoration: none;
}

.boxGifAppNotAviable a{
    cursor: not-allowed;
}


.textGifApp{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.boxGifApp, .boxGifAppNotAviable:hover{
    transform: scale(1.1);
    /* transform: translate(5px);
    box-shadow: inset 10px 2px 10px 10px rgba(0, 0, 0, 0.25); */
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}