@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

*{
    font-family: 'Inter Tight', sans-serif;
}

main{
    background-color: #f4fafc;
}

a{
    cursor: none !important;
}